#sorry {
  font-family: 'Press Start 2P', cursive;
  font-weight:bold;
  text-align: center;
  font-size:100px;
}
#team {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: center;
  font-size:40px;
}
#idioms {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: center;
  font-size:15px;
}